body {
  /* background-color: rgb(101,198,196); */
}
header {
  display: flex;
  justify-content: right;
  margin: -.5em;
  background-color:rgb(101,198,196);
}

.logo {
  width: 10em;
}
.box-shadow-menu {
  position: relative;
  padding-left: 10em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: -.5em;
  width: 1.7em;
  height: 0.2em;
  background: black;
  box-shadow: 0 0.6em 0 0 black, 0 1.2em 0 0 black;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn{
  font-size: 1em;
  min-width: 10em;
  border: none;
  color: black;
  background-color: transparent;
  font-family: inherit; 
  margin-right: 3%;
  margin-left: 1em;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color: black;
  text-decoration: none;
  display: block;
  padding: .5em .5em;
}
.dropdown-content:hover a:hover {
  background-color: rgba(34, 144, 142, 0.6);
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
background-color: rgba(101,198,196 , .6);
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.browse_text {
  text-align: center;
}
/* effects to let people know to sign up */
/* .img_descr {
  position: absolute;
  visibility: hidden;
  background: rgba(29, 106, 154, 0.72);
}
.img_wrap:hover .img_descr {
  visibility: visible;
} */
/* heart css */
[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}
[for='toggle-heart'] {
  color: #aab8c2;
}

[id='toggle-heart']:checked + label {
  color: #e2264d;
}
[for='toggle-heart'] {
  font-size: 2em;
  cursor: pointer;
}